<div id="<%= dom_id inventory %>" class="d-flex inventory-item border rounded p-3 mb-3">
    <div class="d-flex flex-column justify-content-between">
      <h3 class="mb-5">
        <strong><%= inventory.name %></strong>
      </h3>
      <%if action_name == 'index' && can?(:destroy, inventory) %>
        <%= link_to "Remove", inventory_path(inventory.id), data: { confirm: 'Are you sure?', turbo_method: :delete }, class: "btn btn-danger" %>
      <% end %>
    </div>
    <p class="p-1 px-5 m-0"><%= inventory.description %></p>
</div>

<% if action_name == 'show' %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Apple</td>
        <td>10 grams</td>
        <td><button type="button" class="btn btn-danger">Remove</button></td>
      </tr>
      <tr>
        <td>Pineapple</td>
        <td>7 grams</td>
        <td><button type="button" class="btn btn-danger">Remove</button></td>
      </tr>
      <tr>
        <td>Chicken breasts</td>
        <td>25 units</td>
        <td><button type="button" class="btn btn-danger">Remove</button></td>
      </tr>
    </tbody>
  </table>
<% end %>
