<div id="<%= dom_id inventory %>">
  <div>
    <p>
      <strong>Name:</strong>
      <%= inventory.name %>
    </p>
    <div>HERE GOES DELETE</div>
  </div>
    <p><%= inventory.description %></p>
</div>
