<div class="container mt-4">
  <h1 class="mb-4">All Inventories</h1>

  <% @inventories.each do |inventory| %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= inventory.name %></h5>
        <p class="card-text"><%= inventory.description %></p>

        <%= link_to 'Show Details', inventory_path(inventory), class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>

  <%= link_to 'New Inventory', new_inventory_path, class: 'btn btn-success' %>
</div>
