<h1>Shopping#generate_shopping_list</h1>

<h2>Inventory:</h2>
<p>Name: <%= @inventory.name %></p>
<p>Description: <%= @inventory.description %></p>
<!-- Add other attributes as needed -->

<h2>Foods:</h2>
<% @foods.each do |food| %>
  <p>Name: <%= food.name %></p>

  <!-- Add other attributes as needed -->
<% end %>


