<div class="modal fade" id="genIngredient" tabindex="-1" role="dialog" aria-labelledby="genIngredientTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Generate Shopping List</h5>
        <button type="button" class="btn-close" id="head-close-modal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Choose an inventory to use</h5>
          <!-- Replace recipe_path with the shopping list path you create -->
          <%= form_tag(generate_shopping_list_path, method: :get) do %>
 <%= hidden_field_tag :recipe_id, @recipe.id %>
  <%= select_tag 'user_id', options_for_select(@inventories.collect { |i| [i.name, i.id] }), { prompt: "Select an Inventory" } %>
  <%= submit_tag 'Generate' %>
<% end %>

      </div>
    </div>
  </div>
</div>