<h1 class="text-center text-secondary mb-4">New Recipe Food</h1>

<%= render "form", food_recipe: @food_recipe, foods: @foods %>

<br>

<div class="d-flex align-items-center justify-content-center">
  <%= link_to "Back to food recipes", recipe_path(id: params[:recipe_id]), class: 'btn btn-outline-danger rounded-5 px-4 my-3' %>
</div>
