<!-- app/views/foods/detailed_food.html.erb -->
<h1>Detailed Food</h1>
<p>Name: <%= @food.name %></p>
<!-- Add other details as needed -->

<%= link_to 'Back to Foods List', foods_path, class: 'btn primary-bg primary-text primary-border' %>
